@import 'tailwindcss';

@font-face {
  font-family: 'Inter:Semi Bold';
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Outfit:Bold';
  src: url('https://static.figma.com/font/Outfit_wght__2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}
